.counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  height: 35px;
  width: 95px;
  border: solid 2px #c0c0c0;
  border-radius: 4px;
  text-align: center;
}
.input[type="number"] {
  -moz-appearance: textfield;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.testButton {
  background-color: #0abea3;
  height: 41px;
  width: 8%;
  margin: 5px;
  border-radius: 4px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  line-height: 20px;
  padding-bottom: 5px;
}
