.css-1aya2g8 {
    width: 305px;
    font-size: 16px;
    line-height: 1;
    height: 34px;
    -webkit-appearance: none;
    background-position-x: 280px;
    outline: none;
    background-color: white;
    border-color: black;
}

.css-10nd86i {
    width: 305px;
    font-size: 16px;
    line-height: 1;
    height: 34px;
    -webkit-appearance: none;
    background-position-x: 280px;
    outline: none;
}

.css-2o5izw {
}

span {
    display: none;
}

svg {
    color: black;
}
